
.container {
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%; /* Ensure it takes full width */
    background-color: ; /* Background color not specified */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}
.messages-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* margin-bottom: 10px; */
    height: 80%;
    /* min-height: 0; Ensure it doesn't unnecessarily expand */
    width: 100%;
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.message {
    padding: 10px; /* Increased padding to prevent text cut-off */
    border-radius: 5px;
    max-width: calc(100% - 10px); /* Prevent overflow */
    word-wrap: break-word; /* Ensure long words do not cause overflow */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
    user-select: text;
    color: black; /* Set text color to black */
    width: 100%;
}

.message.user, .message.system {
    align-self: flex-start;
    background-color: #e0e0e0; /* Light gray for better visibility in both light and dark modes */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.message.assistant {
    background-color: #cfe9e3; /* Light green for better visibility in both light and dark modes */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.full_width_text_container {
    width: 100%;
    resize: vertical;
    overflow-y: auto;
    min-height: 80px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.w-full {
    width: 100%
}
.mb-2 {
    margin-bottom: 0.5rem; /* 8px assuming the root font-size is 16px */
}
.mb-4 {
    margin-bottom: 16px; /* 1rem typically equals 16px */
}
.theme-light .settings_container {
    background-color: rgb(187, 187, 187); /* Light grey for light theme */
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 4px; /* Rounded corners */
    user-select: text;
    z-index: 1000000;
}

.theme-dark .settings_container {
    background-color: #404040; /* Darker grey for dark theme */
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 4px; /* Rounded corners */
    user-select: text;
    z-index: 1000000;
}

.theme-light .settings_code_block {
    background-color: #fbf4f4; /* Light grey background for light theme */
    border-radius: 4px; /* Rounded corners */
    padding: 4px;
    user-select: text;
    z-index: 1000000;
}

.theme-dark .settings_code_block {
    background-color: #606060; /* Darker grey for dark theme */
    border-radius: 4px; /* Rounded corners */
    padding: 4px;
    user-select: text;
    z-index: 1000000;
}
.hidden-value-unsecure {
    -webkit-text-security: disc;
}

.insert-file-header {
    font-size: 18px;
    font-weight: bold;
}

.insert-file-files-display {
    height: 200px;
    overflow: auto; /* Changed from 'hidden' to 'auto' to allow scrolling */
}
.insert-file-file-name {
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    border: 1px solid transparent; /* Ensures layout doesn't change when selected */
    transition: font-size 0.2s, border-color 0.2s; /* Smooth transition for visual changes */
}
.file-filter-input {
    margin-bottom: 4px;
    width: 100%;
}

.insert-file-file-name.selected {
    font-size: 16px; /* Slightly larger font size for selected item */
    border-color: #cccccc; /* Light gray border for selected item */
    background-color: #f0f0f0; /* Optional: light background color for better visibility */
    border-radius: 4px;
}
.custom-models-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-models-table th,
.custom-models-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.custom-models-table th {
    background-color: #f2f2f2;
}

.custom-models-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-models-table tr:hover {
    background-color: #ddd;
}

.mod-warning {
    color: red;
    font-weight: bold;
}



.system-prompt-textarea {
        width: 100%;
        height: 400px;
        resize: vertical;
}
.workflow_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.w-8 {
    width: 360px
}
.workflow_text_area {
    height: 150px
}
.row_items_spacing {
    margin-right: 3px;
}

.bottom-screen-padding {
    padding-bottom: 100px;
}
/* Add this CSS to your plugin's stylesheet */
.clickable-icon.wand {
    position: relative;
    padding: 10px; /* Increase padding to make the button larger */
}

.submenu {
    display: none;
    position: absolute;
    margin-top: 15px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* Center the submenu */
    /* background-color: white; */
    border: 1px solid #ccc;
    z-index: 100000;
    min-width: 150px;
    grid-template-columns: repeat(4, 1fr); /* Up to four divs wide */
    gap: 5px; /* Add some space between the icons */
    padding: 2px; /* Add some padding around the grid */
    background-color: #f0f0f0;
    border-radius: 4px;
}

.submenu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submenu-item:hover {
    /* background-color: #f0f0f0; */
}

.message-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjusts to the width of the content */
}

.chat-message-actions {
    /* width: 40px; */
    padding-top: 4px;
    display: flex;
    justify-content: left;
    margin-top: 1px;
}


.theme-light .chat-message-actions {
    color: black;
}

.theme-dark .chat-message-actions {
    background-color: transparent;
}
.chat-message-convert-to-note {
    margin-right: 8px;
}
.chat-message-checkbox {
    top: 3px;
}
.input-container {
    /* background-color: #f0f0f0; */
    background-color: var(--background-primary);;
}
.bulk-convert-label {
    margin-right: 3px;
}
.react-markdown {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    white-space: pre-wrap; /* Maintains whitespace formatting and wraps text */
  }
  
  .react-markdown code, .react-markdown pre {
    white-space: pre-wrap;
  }
  .hidden {
    display: none;
  }

.tab {
    margin-right: 4px;
}

