.container {
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%; /* Ensure it takes full width */
    background-color: ; /* Background color not specified */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}
.messages-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
    height: 80%;
    /* min-height: 0; Ensure it doesn't unnecessarily expand */
    width: 100%;
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.message {
    margin: 5px 0;
    padding: 10px; /* Increased padding to prevent text cut-off */
    border-radius: 5px;
    max-width: calc(100% - 10px); /* Prevent overflow */
    word-wrap: break-word; /* Ensure long words do not cause overflow */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
    user-select: text;
    color: black; /* Set text color to black */
}

.message.user, .message.system {
    align-self: flex-start;
    background-color: #e0e0e0; /* Light gray for better visibility in both light and dark modes */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.message.assistant {
    background-color: #cfe9e3; /* Light green for better visibility in both light and dark modes */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.full_width_text_container {
    width: 100%;
    resize: vertical;
    overflow-y: auto;
    min-height: 80px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    white-space: pre-wrap; /* Preserve whitespace and formatting */
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.w-full {
    width: 100%
}
.mb-2 {
    margin-bottom: 0.5rem; /* 8px assuming the root font-size is 16px */
}
.mb-4 {
    margin-bottom: 16px; /* 1rem typically equals 16px */
}
.settings_container {
    background-color: rgb(187, 187, 187); padding: 10px; margin-bottom: 10px;
    border-radius: 4px; /* Rounded corners */
    user-select: auto;
    z-index: 1000000;
    user-select:text;
}
.settings_code_block {
    background-color: #fbf4f4; /* Light grey background */
    border-radius: 4px; /* Rounded corners */
    padding: 4px;
    user-select:text;
    z-index: 1000000;
}
.hidden-value-unsecure {
    -webkit-text-security: disc;
}

.insert-file-header {
    font-size: 18px;
    font-weight: bold;
}

.insert-file-files-display {
    height: 200px;
    overflow: auto; /* Changed from 'hidden' to 'auto' to allow scrolling */
}
.insert-file-file-name {
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    border: 1px solid transparent; /* Ensures layout doesn't change when selected */
    transition: font-size 0.2s, border-color 0.2s; /* Smooth transition for visual changes */
}
.file-filter-input {
    margin-bottom: 4px;
    width: 100%;
}

.insert-file-file-name.selected {
    font-size: 16px; /* Slightly larger font size for selected item */
    border-color: #cccccc; /* Light gray border for selected item */
    background-color: #f0f0f0; /* Optional: light background color for better visibility */
    border-radius: 4px;
}
.custom-models-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-models-table th,
.custom-models-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.custom-models-table th {
    background-color: #f2f2f2;
}

.custom-models-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-models-table tr:hover {
    background-color: #ddd;
}

.mod-warning {
    color: red;
    font-weight: bold;
}



.system-prompt-textarea {
        width: 100%;
        height: 400px;
        resize: vertical;
}


